In [0]:
import re
import pandas as pd
import io

In [0]:
sheet = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSiGE8A6hl5-DBIg5M8k25xVsjzSMBFnDZ-ebLXDePSiuM_SZNMkYgWxx7Y4t0sbG8Qb4yqCrFm8yz2/pub?output=csv"

In [0]:
gen = pd.read_csv(sheet)

In [262]:
gen

    Keyword Prefix  Suffix  ...       Ad2-Landing Page  Ad2-Path 1 Ad2-Path 2
0  iphone 7    buy  online  ...   example.com/iphone-7     iphone7     online
1     cloud    buy   dubai  ...   example.com/iphone-8       cloud     online
2    phones  cheap     uae  ...   example.com/iphone-9      phones     online
3       htc    NaN     NaN  ...  example.com/iphone-10         htc     online
4    luxury    NaN     NaN  ...  example.com/iphone-11      luxury     online
5      cars    NaN     NaN  ...  example.com/iphone-12        cars     online

[6 rows x 17 columns]

In [0]:
prefix = gen['Prefix'].dropna()
suffix = gen['Suffix'].dropna()
keyword = gen['Keyword'].dropna()
budget = gen['Budget'].dropna()

In [0]:
results_pre = []
results_suf = []
results = []
for p in prefix:
  for k in keyword:
    results_pre.append(p + " " + k)

for s in suffix:
  for k in keyword:
    results_suf.append(k + " " + s)

for r in results_pre:
    for x in suffix:
      results.append( r + " " + x)

final_results = results_pre + results_suf + results

In [0]:
broad = []
for key in final_results:
  broad.append("+" + key.replace(" "," +"))

In [0]:
df_exact = pd.DataFrame({ 'keyword' : final_results, 
                   } )
df_exact['match_type'] = 'Exact'

In [0]:
df_broad = pd.DataFrame({ 'keyword' : broad, 
                   } )
df_broad['match_type'] = 'Broad'

In [0]:
df = df_exact.append(df_broad)
df = df.reset_index(drop= True)

In [0]:
res = []
for i in df['keyword'].str.replace("+",""):
  for key in keyword:
    if key in i:
      res.append(("Go-SN-EN-Product:" + key.title()).replace(" ","-"))

In [0]:
budgets = []
for i in df['keyword'].str.replace("+",""):
  for a, b in zip(gen['Keyword'], gen['Budget']):
    if a in i:
      budgets.append(b)

In [0]:
locations = []
for i in df['keyword'].str.replace("+",""):
  for a, b in zip(gen['Keyword'], gen['Location']):
    if a in i:
      locations.append(b)

In [0]:
df['location'] = locations

In [0]:
df['budget'] = budgets

In [0]:
df['campaign'] = res

In [0]:
df['adgroup'] =  df['keyword'].str.replace("+","").str.title() +  "-{" + df['match_type'] +"}"

In [276]:
df = df[['campaign', 'adgroup','keyword', 'match_type', 'budget','location']]
df.head()

                    campaign               adgroup  ... budget location
0  Go-SN-EN-Product:Iphone-7  Buy Iphone 7-{Exact}  ...     10     2076
1     Go-SN-EN-Product:Cloud     Buy Cloud-{Exact}  ...     20     2124
2    Go-SN-EN-Product:Phones    Buy Phones-{Exact}  ...     30     2818
3       Go-SN-EN-Product:Htc       Buy Htc-{Exact}  ...     40     2818
4    Go-SN-EN-Product:Luxury    Buy Luxury-{Exact}  ...     50     2818

[5 rows x 6 columns]

In [0]:
ad1 = df[['campaign', 'adgroup']].copy()

In [0]:
ad1_headline1 = []
ad1_headline2 = []
ad1_description = []
ad1_landingpage = []
ad1_path1 = []
ad1_path2 = []
for i in ad1['adgroup'].str.lower():
  for  key, h1, h2, desc, url, p1, p2 in  zip(keyword, gen['Ad1-Headline 1'], gen['Ad1-Headline 2'], gen['Ad1-Description'], gen['Ad1-Landing Page'], gen['Ad1-Path 1'], gen['Ad1-Path 2'] ):
      if key in i:
        ad1_headline1.append( h1.replace("xxx", i[:-8].title() ))
        ad1_headline2.append(h2)
        ad1_description.append(desc)
        ad1_landingpage.append(url)
        ad1_path1.append(p1)
        ad1_path2.append(p2)

In [0]:
ad1['Headline 1'] = ad1_headline1
ad1['Headline 2'] = ad1_headline2
ad1['description'] = ad1_description
ad1['landingpage'] = ad1_landingpage
ad1['paht 1'] = ad1_path1
ad1['path 2'] = ad1_path2

In [280]:
ad1.head()

                    campaign               adgroup  ...   paht 1  path 2
0  Go-SN-EN-Product:Iphone-7  Buy Iphone 7-{Exact}  ...  iphone7  online
1     Go-SN-EN-Product:Cloud     Buy Cloud-{Exact}  ...    cloud  online
2    Go-SN-EN-Product:Phones    Buy Phones-{Exact}  ...   phones  online
3       Go-SN-EN-Product:Htc       Buy Htc-{Exact}  ...      htc  online
4    Go-SN-EN-Product:Luxury    Buy Luxury-{Exact}  ...   luxury  online

[5 rows x 8 columns]

In [0]:
ad2 = df[['campaign', 'adgroup']].copy()

In [288]:
ad2.head()

                    campaign               adgroup  ...   paht 1  path 2
0  Go-SN-EN-Product:Iphone-7  Buy Iphone 7-{Exact}  ...  iphone7  online
1     Go-SN-EN-Product:Cloud     Buy Cloud-{Exact}  ...    cloud  online
2    Go-SN-EN-Product:Phones    Buy Phones-{Exact}  ...   phones  online
3       Go-SN-EN-Product:Htc       Buy Htc-{Exact}  ...      htc  online
4    Go-SN-EN-Product:Luxury    Buy Luxury-{Exact}  ...   luxury  online

[5 rows x 8 columns]

In [0]:
ad2_headline1 = []
ad2_headline2 = []
ad2_description = []
ad2_landingpage = []
ad2_path1 = []
ad2_path2 = []
for i in ad1['adgroup'].str.lower():
  for  key, h1, h2, desc, url, p1, p2 in  zip(keyword, gen['Ad2-Headline 1'], gen['Ad2-Headline 2'], gen['Ad2-Description'], gen['Ad2-Landing Page'], gen['Ad2-Path 1'], gen['Ad2-Path 2'] ):
      if key in i:
        ad2_headline1.append(h1)
        ad2_headline2.append( h2.replace("xxx", i[:-8].title() ))
        ad2_description.append(desc)
        ad2_landingpage.append(url)
        ad2_path1.append(p1)
        ad2_path2.append(p2)

In [0]:
ad2['Headline 1'] = ad2_headline1
ad2['Headline 2'] = ad2_headline2
ad2['description'] = ad2_description
ad2['landingpage'] = ad2_landingpage
ad2['paht 1'] = ad2_path1
ad2['path 2'] = ad2_path2

In [285]:
ad2.head()

                    campaign               adgroup  ...   paht 1  path 2
0  Go-SN-EN-Product:Iphone-7  Buy Iphone 7-{Exact}  ...  iphone7  online
1     Go-SN-EN-Product:Cloud     Buy Cloud-{Exact}  ...    cloud  online
2    Go-SN-EN-Product:Phones    Buy Phones-{Exact}  ...   phones  online
3       Go-SN-EN-Product:Htc       Buy Htc-{Exact}  ...      htc  online
4    Go-SN-EN-Product:Luxury    Buy Luxury-{Exact}  ...   luxury  online

[5 rows x 8 columns]

In [0]:
df_ads = ad1.append(ad2)

In [0]:
df_keywords = df[['campaign', 'adgroup','keyword', 'match_type']]
df_ads.to_csv('df_ads.csv', index = False)
df_keywords.to_csv('df_keywords.csv', index = False) 
from google.colab import files
files.download('df_keywords.csv')
files.download('df_ads.csv')